.menuH1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 45px;
}

.MenuNav {
    width: 60%;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menulink {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid black;
    padding: 5px 30px;
    border-radius: 20px;
}

@media(max-width: 1200px) {

    .menuH1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 45px;
    }

    .MenuNav {
        width: 80%;
        padding: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

   .menulink {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #212121;
        font-size: 16px;
        cursor: pointer;
        font-weight: 400;
        border: 1px solid black;
        padding: 5px 30px;
        border-radius: 20px;
    }

}

@media(max-width: 992px) {

    .menuH1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 45px;
    }

    .MenuNav {
        width: 90%;
        padding: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

   .menulink {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #212121;
        font-size: 16px;
        cursor: pointer;
        font-weight: 400;
        border: 1px solid black;
        padding: 5px 20px;
        border-radius: 25px;
    }

}

@media(max-width: 768px) {

    .menuH1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 45px;
    }

    .MenuNav {
        width: 100%;
        padding: 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .menulink {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #212121;
        font-size: 14px;
        cursor: pointer;
        font-weight: 400;
        border: 1px solid black;
        padding: 5px 18px;
        margin: 10px 0px;
        border-radius: 30px;
    }

}